<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
@{
    Layout = null;
}

<h3> Mvc Tablo Örneği - Kategori</h3>
<br />
<table class="table table-hover">
    <tr>
        <th> ID </th>
        <th> Kategori Adı </th>
        <th> Açıklama </th>
        <th> Durum </th>
        <th> güncelle </th>
    </tr>

    <tr>
        <td> 2 </td>
        <td> Açıklama</td>
        <td> Yaptık</td>
        <td> True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>

    <tr>
        <td> 6 </td>
        <td> Spor </td>
        <td> Açıklaması  </td>
        <td> True </td>
        <td><button class="btn btn-success">Güncelle</button></td>


    </tr>
    <tr>
        <td> 6 </td>
        <td> Spor </td>
        <td> Açıklaması  </td>
        <td> True </td>
        <td><button class="btn btn-success">Güncelle</button></td>


    </tr>

    <tr>
        <td> 5 </td>
        <td> Spor </td>
        <td> Açıklaması  </td>
        <td> True </td>
        <td><button class="btn btn-success">Güncelle</button></td>


    </tr>
</table>

<button class="btn btn-primary"> yeni kategori </button>
<button class="btn btn-warning"> Kategori Listesi </button>
<button class="btn btn-danger"> Kategori Açıklamaları </button>
